.meetings {
	display: flex;
	flex-direction: column;
}

.meetings__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 26px;
	justify-items: center;
}

.meetings__header {
	display: flex;
	gap: 50px;
	justify-content: space-between;
	padding: 20px 0;
	margin-bottom: 50px;
}

.meetings__avatar-wrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
	align-items: center;
}

.meetings__header-text {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	max-width: 100%;
}

.meetings__header-name,
.meetings__header-library {
	font-family: var(--font-family);
}

.meetings__header-name {
	font-size: clamp(14px, 1.5vw, 16px);
	font-weight: 600;
}

.meetings__header-library {
	font-size: clamp(18px, 3vw, 24px);
	font-weight: 700;
}

.start-meeting {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.mobile {
	display: none;
}

.desktop {
	display: block;
}

@media (width <= 480px) {
	.meetings__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
	}
}

@media (width <= 768px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}
}
