.profile {
	height: 100%;
}

.profile__title {
	margin-bottom: 12px;
	font-size: 16px;
}

.profile__content {
	display: flex;
	flex-direction: column;
	gap: 46px;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 60px;
	background-color: var(--color-background-3);
	border-radius: var(--border-radius-md);
}

.profile__header {
	display: flex;
	align-items: flex-start;
	width: 100%;
	max-width: 420px;
}
