.auth {
	display: flex;
	height: 100vh;
	font-family: var(--font-family);
}

.auth-left {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	background-color: var(--color-background-1);
}

.auth-logo {
	display: flex;
	gap: 10px;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	color: white;
}

.auth-logo-text {
	font-size: 85px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 3.05px;
}

.auth-logo-circle {
	width: 67px;
	height: 67px;
	background-color: var(--color-brand);
	border-radius: 50%;
}

.auth-right {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	padding: 28px 17px;
	background-color: var(--color-background-1);
}

.auth-form-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 700px;
	max-width: 100%;
	height: 95vh;
	background-color: var(--color-background-4);
	border-radius: 10px;
}
