:root {
	/* Background Colors */
	--color-background-secondary: #f0ecec;
	--color-background-third: #f6f5f5;
	--color-background-white: #ffffff;

	/* Typography Colors */
	--color-text-primary: #292d32;

	/* Font Families */
	--font-family: "Inter", sans-serif;
}
