.title {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	width: 100%;
	max-width: 420px;
	margin-block: 35px 45px;
	font-size: 36px;
	font-weight: 700;
	line-height: 23px;
	color: var(--color-brand);
	text-align: center;
}

.link-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	max-width: 420px;
	margin-block: 30px 10px;
	font-size: 16px;
	font-weight: 600;
	line-height: 25px;
}

.sub-title {
	width: 100%;
	max-width: 420px;
	margin-block: 10px 30px;
	margin-inline: auto;
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	color: var(--color-text-1);
	text-align: center;
}

.link-container__link {
	color: var(--color-brand);
	text-decoration: none;
}

.image {
	display: block;
	max-width: 50%;
	height: auto;
	margin-block: 20px 10px;
	margin-inline: auto;
}
