.meeting-details {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
	padding-bottom: 50px;
}

.meeting-details__header {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
}

.meeting-details__title {
	display: flex;
	gap: 10px;
	align-items: baseline;
	font-size: 24px;
	font-weight: 700;
	color: var(--color-text-1);
}

.meeting-details__date {
	font-size: 16px;
	font-weight: 400;
	color: var(--color-text-2);
}

.meeting-details__actions {
	display: flex;
	gap: 15px;
}

.action-button:hover {
	cursor: pointer;
}

.action-button__share {
	min-width: 32px;
	color: var(--color-brand);
	transition: color 0.3s ease-in-out;
}

.action-button__share:hover {
	color: var(--color-brand-hover);
}

.meeting-details__content {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 2fr 1.5fr;
	gap: 25px;
}

.summary {
	grid-row: 1;
	grid-column: 2 / 2;
}

.summary.meeting-ended {
	grid-row: 1;
	grid-column: 1 / 2;
}

.action-items.meeting-ended {
	grid-row: 1;
	grid-column: 2 / 3;
}

.action-items {
	grid-row: 2;
	grid-column: 2 / 2;
}

.summary-area,
.action-items-area {
	padding: 20px;
	background-color: var(--color-background-3);
	border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
}

.summary-text,
.action-items-text {
	padding: 10px 20px;
	font-size: 14px;
	color: var(--color-text-1);
	background-color: var(--color-background-4);
	border-radius: var(--border-radius-lg);
}

.action-items-area {
	margin: 0;
	list-style: none;
}

.action-items-text {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
}

.meeting-details__error,
.meeting-details__not-found {
	margin-top: 50px;
	font-size: 18px;
	color: var(--color-accent-1);
	text-align: center;
}

.meeting-details__player {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: var(--color-background-4);
}

@media (width <=1024px) {
	.meeting-details__content {
		grid-template-columns: 1fr;
		gap: 16px;
	}

	.action-items {
		grid-row: 3;
		grid-column: 1 / 3;
	}

	.summary {
		grid-row: 2;
		grid-column: 1/ 3;
	}

	.summary.meeting-ended {
		grid-row: 1;
		grid-column: 1/ 3;
	}

	.action-items.meeting-ended {
		grid-row: 2;
		grid-column: 1/ 3;
	}

	.meeting-details__header {
		flex-wrap: wrap;
		row-gap: 0;
	}

	.meeting-details__actions {
		width: 100%;
		margin: 15px 0;
	}
}

@media (width <=768px) {
	.meeting-details {
		margin-top: 10px;
	}

	.meeting-details__title {
		font-size: clamp(16px, 5.5vw, 20px);
	}

	.summary-area,
	.action-items-area {
		padding: 12px;
	}

	.summary-text,
	.action-items-text {
		padding: 10px 12px;
		font-size: 14px;
	}
}

@media (width <= 576px) {
	.meeting-details__actions {
		position: relative;
		flex-direction: column;
		gap: 12px;
		align-items: center;
	}
}
