.title {
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: 700;
	color: var(--color-brand);
	text-align: center;
}

.link-container {
	position: absolute;
	bottom: 60px;
	display: flex;
	gap: 10px;
	font-size: 16px;
	font-weight: 600;
}

.link {
	color: var(--color-brand);
	text-decoration: none;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
	max-width: 420px;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.input {
	height: 44px;
}

.input:focus,
.input:focus-visible {
	outline: unset;
	border-color: var(--color-accent-2);
}
