.meeting {
	display: flex;
	flex-direction: column;
	gap: 9px;
	width: 100%;
	max-width: 344px;
	padding: 8px;
	cursor: pointer;
	background-color: var(--color-background-4);
	border-radius: var(--border-radius-lg);
	box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
	transition: box-shadow 0.5s ease-in-out;
}

.meeting:hover {
	box-shadow: 0 0 0 2px var(--color-brand);
}

.meeting__image {
	position: relative;
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
	object-fit: cover;
}

.meeting__info-wrapper {
	display: flex;
	flex-direction: column;
	padding: 0 8px;
}

.meeting__title {
	font-family: var(--font-family);
	font-size: clamp(14px, 2vw, 16px);
	font-weight: 600;
	color: var(--color-text-1);
}

.meeting__extra-info {
	font-family: var(--second-font-family);
	font-size: clamp(11px, 1.5vw, 12px);
	font-weight: 400;
	color: var(--color-text-2);
}

.menu__container {
	position: absolute;
	top: 8px;
	right: 8px;
	background-color: var(--color-background-4);
	border-radius: 50%;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.meeting:hover .menu__container {
	opacity: 1;
}

.menu__button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	cursor: pointer;
	background-color: var(--color-white);
	border-radius: 50%;
	transition: background-color 0.3s ease-in-out;
}

.menu__button:hover {
	background-color: var(--color-background-2);
}

.menu__dots-wrapper {
	display: flex;
	gap: 3px;
}

.menu__dot {
	width: 3px;
	height: 3px;
	background-color: var(--color-text-2);
	border-radius: 50%;
}

.menu__dropdown {
	position: absolute;
	right: 0;
	min-width: 120px;
	margin-top: 5px;
	background-color: var(--color-background-2);
	border-radius: var(--border-radius-sm);
	box-shadow: 0 2px 10px var(--color-text-1);
	opacity: 0;
	transform: translateY(-7px);
	transition:
		opacity 0.3s ease-out,
		transform 0.3s ease-out;
}

.menu__dropdown.menu__dropdown-open {
	opacity: 1;
	transform: translateY(0);
}

.menu__dropdown-item {
	width: 100%;
	padding: 8px 12px;
	color: var(--color-text-1);
	text-align: left;
	cursor: pointer;
	background-color: var(--color-background-4);
	border-radius: var(--border-radius-sm);
	transition: background-color 0.3s ease-in-out;
}

.menu__dropdown-item:hover {
	background-color: var(--color-background-2);
}

@media (width <= 768px) {
	.meeting {
		max-width: 320px;
		padding: 16px;
	}
}
