.title {
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 700;
	color: var(--color-brand);
	text-align: center;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
	max-width: 420px;
}

.label-text {
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
}

.password-label {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.input-field {
	box-sizing: border-box;
	width: 100%;
	padding: 10px 13px;
	font-size: 14px;
	border: 1px solid var(--color-text-2);
	border-radius: 4px;
}

.register {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 600;
}

.create-account {
	color: var(--color-brand);
	text-decoration: none;
}

@media screen and (768px <= width) {
	.title {
		font-size: 32px;
	}
}

@media screen and (990px <= width) {
	.title {
		margin-top: auto;
		font-size: 36px;
	}

	.register {
		margin-top: auto;
		margin-bottom: 60px;
	}
}
